.page {
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
    align-items: center;
}

.header {
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    border: solid 2px black;
    border-radius: 12px;
    padding: 6px;
}

.books {
    display: grid;
    grid-template-rows: auto;
}